/*
Joana Moreno - Nº3220549
-

Data - 04/05/2025

-

Nome do Exercício
WEebsite Portfólio 
-

Época de Avaliação
Contínua (Durante as aulas)
-

Ano Letivo - 3º Ano, 2024-2025
Semestre - 2º
Unidade Curricular - Laboratório de Projeto II
Curso - Design Gráfico e Multimédia (DGM)
Escola - Escola Superior de Artes e Design das Caldas da Rainha (ESAD.CR)
Docente - Marco Heleno
*/

/* DESIGN BASE PARA TODAS AS PÁGINAS*/

body {
  background-color:#f3f3e5;
  font-family: 'Alte Haas Grotesk', Arial, sans-serif;
  font: #2D262D;
  cursor: url('cursor/mycursor.svg'), auto;
}


/* cursor*/
.custom-cursor {
  cursor: url('cursor/mycursor.svg'), auto;

}

/* Cursor diferente ao passar por links e botões 
a:hover, button:hover {
  cursor: url('cursor/mycursor-hover.svg'), auto;
}*/


.container {
  width: 100%;
  min-height: 100vh;
  display: flex; /* Flexbox para estruturar a página */
  flex-direction: column; /* header, main, footer Verticalmente */
}

main {
  flex: 1; 
  padding: 0.5rem;
  box-sizing: border-box;
  margin-top: 2.4rem;

}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background:#f3f3e5;

}

nav.links {
  display: flex;
  gap: 5rem;
}

/* FONTES */
@font-face {
  font-family: 'BaleteSemibold';
  src: url('fonts/BaleteTrial-Semibold copy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BaleteBoldItalic';
  src: url('fonts/BaleteTrial-BoldItalic copy.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

/* LINK ESTILOS DESIGN BASE */
a,
a:visited {
  color: #2D262D;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* HOMEPAGE */
body.home {
  overflow: hidden;
}

body.home h1 {
  margin-top: -0.3rem;
  font-size: 60px;
  font-weight: 200;
  letter-spacing: -2.5px;
  line-height: 1;
}

/* WORK - PÁGINA DOS TRABALHOS */
.work-section {
  position: relative;
  background: #f1ebf6; /* Work section background color */ 
}

/* WORK - PÁGINA DE PROJETOS */
.projects {
  width: 100%;
  max-width: 100px;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.project {
  width: 100%;
}

.project-row {
  width: 100%;
  display: flex;
  gap: 1.2rem;
  height: 65px;
 
}

.project-row .BaleteTypo {
  font-size: 69px;
  font-family: 'BaleteSemibold', serif;
  line-height: 0.3;
  white-space: nowrap;
  margin-right: -0.2rem;
  /*transition:
    font-size 0.2s ease,
    letter-spacing 0.2s ease,
    transform 0.1s ease,
    color 0.3s ease;*/
}

.project-row .category {
  font-size: 1rem;
  text-align: left;
  flex-shrink: 0;

}

.BaleteTypo:hover {
  font-family: 'BaleteBoldItalic', serif;
  font-weight: bold;
  font-size: 69px;                        /* animated */
  /*letter-spacing: -0.2px;                  
  transform: scale(1.9rem);*/

  
  
}

/* WORK - PRÉ VISUALIZAÇÃO DOS PROJETOS QUANDO SE DÁ HOVER (WORK - PROJECT PREVIEW) */
#project-preview {
  display: none;
  position: fixed;
  top: 120px;
  right: 40px;
  width: 340px;
  height: 420px;
  background: #fff;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.18s;
}

#project-preview.active {
  display: block;
  opacity: 1;
}

#project-preview img,
#project-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* WORK - LAYOUT DA PÁGINA DE INFORMAÇÃO SOBRE OS PROJETOS (WORK - PROJECT DETAIL) */
.project-detail-main {
  width: 100%;
  box-sizing: border-box;
  margin-left: 14px;
  margin-top: 5rem;
}

.project-detail {
  width: 25%; 
  float: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1.5rem;
  background: transparent;
}

.project-detail .BaleteTypo {
  font-family: 'BaleteSemibold', serif;
  font-size: 50px;
  line-height: 0.9;
  margin: 0;
  font-weight: normal;
  margin-bottom: -1.7rem
  
}

.project-detail .year {
  font-size: 1rem;
  margin-bottom: 0rem;
  background: transparent;
}

.project-detail .category {
  font-size: 1rem;
  line-height: 1.1;
  white-space: pre-line;
  margin-bottom: -0.65rem;
  background: transparent;
}

.project-detail .description {
  font-size: 1.rem;
  line-height: 1.4;
  margin-bottom: 0rem;
}


.fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: transparent;
}

.work-image-container {
  position: fixed;
  top: 35px;
  right: 0;
  width: 90px;
  left: 40vw; 
  width: 60vw;
  height: 100vh;
  overflow-y: auto;
  background: transparent;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 5;
}

.work-image {
  width: 100%;
  max-width: 1020px;
  margin-bottom: 4rem;
  display: block;
}

/* WORK - SCROOLBAR DENTRO DA INFROMAÇÃO DE CADA PROJETO (SCROOLBAR PROJECT DETAIL) */
.zine-image-container::-webkit-scrollbar {
  width: 8px;
}
.zine-image-container::-webkit-scrollbar-track {
  background: transparent;
}
.zine-image-container::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
  border-radius: 4px;
}

/* ABOUT - PÁGINA SOBRE MIM */
.intro-text {
  font-family: 'Alte Haas Grotesk', Arial, sans-serif;
  margin-top: -0.3rem;
  font-size: 57px;
  font-weight: 200;
  letter-spacing: -2.5px;
  line-height: 1;

}

body, html {
  height: 100%;
  
}

.contacts {
  position: fixed;
  padding: 1.2rem;
  bottom: 2px;
  display: flex;
  gap: 9rem;
  font-size: 24px;
}


.photo-stack {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.composition {
  position: relative;
  width: 1150px;   /* Ajustar a composição*/
  height: 700px;  /* Ajustar a composição */
  max-width: 95vw;
  max-height: 80vh;
}
.photo {
  position: absolute;
  will-change: transform;
}
.photo img {
  width: 100%;
  display: block;
  max-width: 400px;
}

